/* global styles */

:root {
  --black-color: #202123;
  --dark-black: #181818;
  --sec-black-color: #303134;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black-color);
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
/* end global styles */

/* header styles */
header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav ul li .moreIcon {
  width: 35px;
  height: 35px;
}
nav ul li img {
  display: block;
  width: 35px;
  border-radius: 50%;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

/* end header styels */

/* main styles */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
}
main .content {
  padding: 0 20px;
}
main h1 {
  color: white;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

main .search-bar {
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 585px;
  gap: 5px;
  border-radius: 25px;
  border: 1px solid #959ba1;
  padding: 0 18px;
  margin: 25px 0;
}

main .search-bar img {
  display: block;
  height: 28px;
  cursor: pointer;
}

main .search-bar input {
  all: unset;
  display: block;
  color: white;
  width: 100%;
  flex-grow: 1;
  padding: 10px 0;
}

main .btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
main .btns .btn {
  all: unset;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 10px;
  background: var(--sec-black-color);
  border: 1px solid var(--sec-black-color);
}
main .btns .btn:hover {
  border: 1px solid #5f6368;
}
.btn a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

main p {
  text-align: center;
  margin: 25px 0;
  color: white;
  font-size: 10px;
}

main p a {
  color: blue;
}
/* end main styles */

/* footer styels */
footer {
  background-color: var(--dark-black);
  color: #999da2;
  font-size: 11px;
  text-transform: capitalize;
}
footer div {
  padding: 12px 30px;
}
footer div:first-child {
  border-bottom: 1px solid #3c4043;
}
footer div:last-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer div:last-child ul {
  display: flex;
  gap: 10px;
}
footer div:last-child ul li {
  cursor: pointer;
}
